@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

:root {
  --primary-white: #fff;
}

body{
  font-family: "Roboto Condensed" sans-serif;
}

/**** Navbar ****/
.navbar-brand p{
  color: #FFF;
  font-size: xx-large;
  font-weight: 700;
}
.navbar-brand span{
  color: crimson;
}

/** Navbar Menu **/
nav a.nav-link {
  font-weight: 700;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

/* nav ul li {
  text-transform: uppercase;
} */

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important
}

.navbar-nav > li a:hover {
  color: crimson !important
}

